<div class="container">
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Seleccionar Producto</option>
    <option value="1">Arroz</option>
    <option value="2">Papas</option>
    <option value="3">Atún</option>
  </select>

  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Seleccionar Cantidad</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>

</div>
